<!DOCTYPE html>
<html>
        <div class="User Name">
            <label for="user name">User Name</label>
            <input type="email" name="email" id="email" required>
        </div>
         <div class="Password">   
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div class="Log In">
                <input type="button" value="Log In">
        </div>
</html>